[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-admin = "*"
flask-mail = "*"
flask-wtf = "*"
email-validator = "*"
python-dotenv = "*"
psycopg2 = "*"
gunicorn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
